.DropDownList {
  border: 2px black solid;
  width : 180px;
  margin: 20px;
}

.List {
  list-style: none;
  text-align: center;
  padding   : 0px;

}
.Items{
  padding: 5px;
}

img {
  width       : 20px;
  padding-left: 10px;
  /* width    : 100%;
  height      : auto; */
}