.DropDownList {
  border: 2px black solid;
  width : 180px;
  margin: 10px;
  cursor: pointer;
}

.List {
  list-style: none;
  text-align: center;
  padding   : 0px;

}

.Items {
  padding: 5px;
}

.Items:hover {
  background-color: rgb(210, 210, 210);
}

.active {
  background-color: rgb(210, 210, 210);
}

img {
  width         : 20px;
  padding-left  : 10px;
  vertical-align: text-bottom;
}